.content {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  text-align: center;
}

.content .welcome {
  text-align: center;
}

.content .homepage-thumbnails {
  display: flex;
  justify-content: space-evenly;
  min-width: 300px;
}

.content .homepage-thumbnails .thumbnail {
  border-radius: 100%;
  height: 200px;
  width: 200px;
}
