.navigation {
  text-align: center;
  margin-top: 20px;
}

.navigation .logo {
  border-radius: 100%;
  width: 100px;
  height: auto;
  border: solid 2px var(--color-green);
}

.navigation .menu {
  display: grid;
  color: var(--color-brown);
  font-size: 20px;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  font-family: "Roboto", cursive;
}

.main-buttons {
  font-family: "Roboto", cursive;
  font-size: 20px;
  background-color: var(--color-green);
  border: 0px;
  min-width: 70px;
  max-width: 300px;
  color: var(--color-brown);
}

/*Tablets*/
@media (min-width: 550px){
  .navbar .logo {
      width: 150px;
      height: auto;
  }
  .main-buttons {
      font-size: 30px;
      min-width: 100px;
      max-width: 400px;
  }
}

/*Desktop*/
@media (min-width: 750px){
  .navbar .logo {
      width: 200px;
      height: auto;
  }
}
